@import "../scss/defaults.scss";

#Browse {
  overflow-x: hidden;
  max-height: 100vh;
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  .spacer {
    width: 100%;
    flex: 1 0;
  }
  #Filters {
    z-index: 102;
  }

  .cover {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
    z-index: 101;
    animation: 0.5s ease-in-out 0s 1 slideInCenter;
  }

  #ControlPanel {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 100%;
    padding-top: 1.5em;
    padding-bottom: 1em;
    box-sizing: border-box;

    #FiltersToggle {
      padding: 1em 1em;
    }
    #Sort,
    #FiltersToggle {
      background-color: $FONT_COLOR_LIGHTEST;
      border-radius: 0.5em;
      line-height: 1em;
      font-weight: bold;
      flex-shrink: 0;
      cursor: pointer;
      position: relative;
      z-index: 1;
      svg {
        height: 1em;
        position: relative;
        top: 0.1em;
      }
      div {
        width: 6em;
        padding: 1em;
        svg {
          float: right;
        }
      }
    }
    #Sort ul {
      margin: 0;
      padding-left: 0;
      position: absolute;
      top: 100%;
      left: -1px;
      display: none;

      background-color: $FONT_COLOR_LIGHTEST;
      border-radius: 0em 0em 0.5em 0.5em;
      overflow: hidden;
      width: 100%;

      li {
        word-break: keep-all;

        text-decoration: none;
        border-top: 1px solid $FONT_COLOR_LIGHT;
        padding: 1em 1em;
        list-style-type: none;
        font-weight: normal;
      }
      li:first-child {
        border-top: none;
      }

      li:hover {
        background-color: $FONT_COLOR_LIGHT;
      }
      li.active {
        font-weight: bold;
      }
    }
    #Sort:hover {
      border-radius: 0.5em 0.5em 0em 0em;
      ul {
        display: block;

        border: 1px solid $FONT_COLOR_LIGHT;
      }

      div svg {
        transform: rotate(180deg);
      }
    }

    #FiltersToggle:hover {
      background-color: $FONT_COLOR_LIGHT;
    }
    #FiltersToggle.active {
      background-color: $FONT_COLOR_LIGHT;
      font-weight: bold;
    }

    #FiltersToggle svg {
      padding-right: 0.5em;
    }
    #Sort svg {
      height: 0.8em;
      top: 0.1em;
      padding-left: 0.5em;
    }

    #Categories {
      display: flex;
      flex-direction: row;
      flex: 1 1;
      overflow-x: scroll;
      padding-left: 1em;
      padding-right: 1em;
      box-sizing: border-box;

      div {
        display: inline-block;
        word-wrap: none;
        white-space: nowrap;
        padding: 1em 1em;
        color: $FONT_COLOR_SUB;
        cursor: pointer;
      }
      div.active {
        color: $FONT_COLOR_DEFAULT;
        font-weight: bold;
      }
      div:hover {
        color: $FONT_COLOR_DEFAULT;
      }
    }
    ::-webkit-scrollbar {
      display: none;
    }
  }

  #BrowseResults {
    flex: 0 1;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5em;
    align-items: stretch;
    justify-content: space-between;
    padding: 1em $SIDE_PAD;
    width: 100vw;
    box-sizing: border-box;
    overflow-y: scroll;

    /* Hide scrollbar for IE, Edge and Firefox */
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  #BrowseResults::-webkit-scrollbar {
    display: none;
  }

  .movietile:hover {
    transform: scale(1.05);
    box-shadow: 0 0px 0.5em rgb(0 0 0 / 50%);
  }

  .movietile {
    flex: 1 1;
    height: 100%;
    background-color: $FONT_COLOR_LIGHTEST;
    border-radius: 1em;
    position: relative;
    box-shadow: 0 0px 0.5em rgb(0 0 0 / 20%);
    cursor: pointer;
    transition: 0.25s ease-out !important;

    .rating {
      position: absolute;
      transform: rotate(-90deg) translateX(-100%);
      transform-origin: 0% 0%;
      top: 1em;
      left: 1em;
    }
    .rating div svg {
      fill: $FONT_COLOR_LIGHTEST;
      paint-order: fill stroke;
      stroke: $FONT_COLOR_DEFAULT;
      stroke-width: 1.5em;
      stroke-linejoin: round;
    }
    .screenshot {
      width: 100%;
      height: 15em;
      display: block;
      position: relative;
      overflow: hidden;

      img {
        min-width: 100%;
        min-height: 100%;
        width: auto;
        height: auto;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: inherit !important;
      }
      // background-size: cover;
      // background-clip: padding-box;
      // background-position-x: center;
      border-radius: 1em 1em 0em 0em;
    }

    // .screenshot {
    //   width: 100%;
    //   height: 15em;
    //   display: block;
    //   background-size: cover;
    //   background-clip: padding-box;
    //   background-position-x: center;
    //   border-radius: 1em 1em 0em 0em;
    // }

    .description {
      padding: 0.5em 1.5em;
      font-size: $FONT_SIZE_DEFAULT;
      text-align: justify;
      h3 {
        text-align: center;
        font-size: $FONT_SIZE_MED;
      }
    }

    > span {
      position: absolute;
      right: 0.5em;
      top: 0.5em;
      color: $FONT_COLOR_LIGHTEST;
      font-size: $FONT_SIZE_MED;
      /*text-shadow: 0 0px 0.1em rgb(0 0 0 / 80%);*/
      font-weight: bolder;
      line-height: 1em;
      -webkit-text-stroke: 1px $FONT_COLOR_DEFAULT;
    }
  }
}

@mixin tile_styling($screenshot_height, $font_multiplier, $gap, $grid_repeat) {
  #Browse #BrowseResults {
    gap: $gap;
    grid-template-columns: $grid_repeat;

    .movietile {
      .screenshot {
        height: $screenshot_height;
      }

      .description {
        font-size: $FONT_SIZE_DEFAULT * $font_multiplier;
        h3 {
          font-size: $FONT_SIZE_MED * $font_multiplier;
        }
      }
      .rating {
        /*width: $screenshot_height - 2em;*/
        width: $screenshot_height * 0.9;
        top: $screenshot_height * 0.05;
      }
    }
  }
}

@include tile_styling(
  $screenshot_height: 13vw,
  $font_multiplier: 1,
  $gap: 3vw,
  $grid_repeat: repeat(3, 1fr)
);

@media (max-width: $WIDTH_LARGEST_SCREEN) {
  @include tile_styling(
    $screenshot_height: 15vw,
    $font_multiplier: 1,
    $gap: 3vw,
    $grid_repeat: repeat(3, 1fr)
  );
}

@media (max-width: $WIDTH_LARGE_SCREEN) {
  @include tile_styling(
    $screenshot_height: 20vw,
    $font_multiplier: 1,
    $gap: 3vw,
    $grid_repeat: repeat(3, 1fr)
  );
}

@media (max-width: $WIDTH_SMALL_SCREEN) {
  @include tile_styling(
    $screenshot_height: 25vw,
    $font_multiplier: 1,
    $gap: 6vw,
    $grid_repeat: repeat(2, 1fr)
  );

  #Browse #ControlPanel {
    position: relative;
    display: block;
    margin-bottom: 2em;
    width: 100%;
    #Categories {
      position: absolute;
      justify-content: space-between;
      top: 5em;
      left: 0;
      width: 100%;
      box-sizing: border-box;
      overflow-x: scroll;

      div:first-child {
        padding-left: 0;
      }
      div:last-child {
        padding-right: 0;
      }
    }
    ::-webkit-scrollbar {
      display: none;
    }

    #FiltersToggle {
      float: right;
    }
    #Sort {
      float: left;
    }
  }
}

@media (max-width: $WIDTH_TABLET) {
  @include tile_styling(
    $screenshot_height: 30vw,
    $font_multiplier: 0.9,
    $gap: 3vw,
    $grid_repeat: repeat(2, 1fr)
  );
}

@media (max-width: $WIDTH_MOBILE) {
  @include tile_styling(
    $screenshot_height: 50vw,
    $font_multiplier: 1,
    $gap: 5vw,
    $grid_repeat: repeat(1, 1fr)
  );
}
