/* Background Colors */
$PRIMARY_COLOR: #f2c7ee;
$ACCENT_COLOR1: #85f2e8;
$ACCENT_COLOR2: #5f8a86;
$ACCENT_COLOR3: #cc81dd;
$ACCENT_COLOR4: #f2ce3a;

/* FONT_FAMILY */
$FONT_HEADER_DEFAULT: "Futura FT";
$FONT_LOGO: "Cooper Std";
$FONT_SIZE_DEFAULT: 14px;
$FONT_SIZE_MED: 20px;
$FONT_SIZE_HEADING: 24px;
$FONT_SIZE_TITLE: 60px;

/* Font colors */
$FONT_COLOR_DEFAULT: #333333;
$FONT_COLOR_SUB: #88959e;
$FONT_COLOR_LIGHT: #cccccc;
$FONT_COLOR_LIGHTEST: #ffffff;

/* Padding */
$SIDE_PAD: 8em;
