/* Background Colors */
$PRIMARY_COLOR: #f2c7ee;
$ACCENT_COLOR1: #85f2e8;
$ACCENT_COLOR2: #5f8a86;
$ACCENT_COLOR3: #cc81dd;
$ACCENT_COLOR4: #f2ce3a;

$ACCENT_AFFIRM: rgb(183, 255, 183);
$ACCENT_DENY: rgb(255, 183, 183);

/* FONT_FAMILY */
$FONT_HEADER_DEFAULT: "Futura FT";
$FONT_LOGO: "Cooper Std";
$FONT_SIZE_DEFAULT: 14px;
$FONT_SIZE_MED: 20px;
$FONT_SIZE_HEADING: 24px;
$FONT_SIZE_TITLE: 60px;

/* Font colors */
$FONT_COLOR_DEFAULT: #333333;
$FONT_COLOR_SUB: #88959e;
$FONT_COLOR_LIGHT: #cccccc;
$FONT_COLOR_LIGHTEST: #ffffff;

/* Padding */
$SIDE_PAD: 8em;

/* Device Sizes */
$WIDTH_MOBILE: 480px;
$WIDTH_TABLET: 768px;
$WIDTH_SMALL_SCREEN: 1024px;
$WIDTH_LARGE_SCREEN: 1200px;
$WIDTH_LARGEST_SCREEN: 1500px;
