@import "../scss/defaults.scss";

#disclaimers {
  display: flex;
  min-height: 100vh;
  flex-direction: column;

  #Race {
    ol li {
      text-decoration: none;
      list-style-type: none;
    }
  }
  > div:nth-child(2) {
    margin-top: 1em;
    flex: 1 1;
  }
  > div:not(#MainMenu):not(.footer) {
    background-color: $FONT_COLOR_LIGHTEST;
    padding: 5vw;
    overflow: hidden;
    margin-bottom: 1em;
  }

  h2.bubbletext {
    text-align: center;
    white-space: break-spaces;
  }
  .description {
    text-align: justify;
    text-align-last: center;
    width: 40vw;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 2em;
  }

  .list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .listItem {
      text-align: center;
      max-width: 30%;
      position: relative;
      h2 {
        font-weight: bold;
      }
      h3 {
        color: $FONT_COLOR_LIGHT;
      }
      img {
        height: 5em;
      }
      a {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
      }
    }
  }

  #lists {
    margin-top: 2em;
    ul li {
      text-decoration: none;
      list-style-type: none;
      text-align: center;
      a span {
        font-weight: bold;
      }
    }
  }

  #proportionalRepresentation #intersex,
  #identity #Disability {
    display: flex;
    flex-direction: row;
    > p {
      margin-right: 2em;
      text-align: justify;
      margin-top: 0;
      margin-bottom: 0;
    }
    > div {
      min-width: 30%;
      text-align: justify;
      img {
        width: 100%;
      }
    }
  }
  #portrayals {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 2em;
    text-align: center;
  }
  #identity #Race {
    > div {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 1em;
      > h3 {
        flex: none;
      }
      position: relative;
      > span {
        font-size: 5em;
        font-weight: bold;
        font-family: revert;
      }
    }
  }
}

@media (max-width: $WIDTH_SMALL_SCREEN) {
  #disclaimers {
    .description {
      width: 60vw;
    }
    .list {
      .listItem {
        max-width: 45%;
      }
    }
  }
}

@media (max-width: $WIDTH_TABLET) {
  #disclaimers {
    .description {
      width: 80vw;
    }
    .list {
      justify-content: space-around;
      .listItem {
        max-width: 80%;
      }
    }

    h2.bubbletext {
      font-size: 3em;
    }
  }
}
