@import "../scss/defaults.scss";

#faq {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  .explainer {
    > span {
      font-weight: normal;
      white-space: break-spaces;
      text-align: justify;
      text-align-last: left;
      width: 300px;
    }
  }

  > div:not(#MainMenu):nth-of-type(2) {
    flex: 1 1;
    background-color: white;
    // overflow-y: scroll;
    padding-left: 0em;
    padding-right: 0em;
    padding-bottom: 2em;

    // -ms-overflow-style: none; /* IE and Edge */
    // scrollbar-width: none; /* Firefox */
    .dropdown:last-child {
      border-bottom: none;
    }
    .dropdown {
      list-style: none;
      border-bottom: 1px solid $FONT_COLOR_DEFAULT;
      padding: 0em 0em;
      margin-left: 5vw;
      margin-right: 5vw;
      padding-bottom: 1em;
      cursor: pointer;

      h3 {
        svg {
          float: right;
          height: 1em;
          cursor: pointer;
        }
        margin-bottom: 0;
      }
      > div {
        max-height: 0em;
        overflow-y: hidden;
        transition-property: max-height;
        transition-duration: 0.5s;
        transition-timing-function: ease-out;
        margin: 0;
        box-sizing: border-box;

        > div {
          padding-top: 1em;
        }
      }
      > div.active {
        max-height: 150px;
      }
    }
  }
  > div:not(#MainMenu)::-webkit-scrollbar {
    display: none;
  }

  h2 {
    margin-top: calc($FONT_SIZE_DEFAULT * 1.5);
    font-size: $FONT_SIZE_TITLE;
    background-color: white;
    margin-bottom: 0;
    padding-top: 1em;
    padding-bottom: 0em;
  }
  h2.bubbletext {
    white-space: break-spaces;
  }
  > h3 {
    font-size: $FONT_SIZE_MED;
    font-weight: lighter;
    background-color: white;
    margin: 0;
    padding-top: 0.5em;
    padding-bottom: 2em;
  }

  h2,
  > h3 {
    padding-left: 5vw;
    padding-right: 5vw;
  }
}

@media (max-width: $WIDTH_TABLET) {
  #faq h2.bubbletext {
    font-size: 4em;
  }
}
@media (max-width: $WIDTH_MOBILE) {
  #faq h2.bubbletext {
    font-size: 3em;
  }
}
