@import "./defaults.scss";

.DropDownFilter {
  .DropDownContainer.active {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
  .DropDownContainer {
    background-color: $FONT_COLOR_LIGHTEST;
    font-weight: bold;
    position: relative;
    border: 1px solid $FONT_COLOR_DEFAULT;
    border-radius: 0.5em;
    padding: 0.5em;
    cursor: pointer;

    ::-webkit-scrollbar {
      display: none;
    }

    .DropDownOptions {
      display: none;
      position: absolute;
      top: calc(100% + 1px);
      left: -1px;
      max-height: 10em;
      overflow-y: scroll;
      width: 100%;
      z-index: 5;
      border-top: 1px solid $FONT_COLOR_DEFAULT;
      border-bottom: 1px solid $FONT_COLOR_DEFAULT;
      border-bottom-left-radius: 0.5em;
      border-bottom-right-radius: 0.5em;
      border-left: 1px solid $FONT_COLOR_DEFAULT;
      border-right: 1px solid $FONT_COLOR_DEFAULT;

      .DropDownOption:last-child {
        border-width: 0;
      }
      .DropDownOption {
        background-color: $FONT_COLOR_LIGHTEST;
        padding: 0.5em;
        font-weight: normal;
        cursor: pointer;
        border-width: 0px 0px 1px 0px;
        border-color: $FONT_COLOR_DEFAULT;
        border-style: solid;
      }
      .DropDownOption.active {
        font-weight: bold;
      }
    }
    .DropDownOptions.active {
      display: block;
    }
  }
}

.SliderFilter {
  width: 100%;

  .Slider {
    width: 100%;
    .SliderOptions {
      display: flex;
      flex-direction: row;
      justify-content: space-around;

      img.icon {
        height: 3em;
      }

      .SliderOption {
        cursor: pointer;
        font-weight: bold;
      }

      .SliderDot {
        width: 1em;
        height: 1em;
        border-radius: 0.5em;
        background-color: $FONT_COLOR_LIGHT;
        position: relative;
        top: -2.75em;
        z-index: 3;
      }
      .SliderDot.active {
        background-color: $FONT_COLOR_LIGHT;
      }

      .SliderOption.active {
        fill: $ACCENT_COLOR3;
      }
    }

    #bar {
      width: 100%;
      height: 0.5em;
      background-color: $FONT_COLOR_LIGHT;
      border-radius: 0.25em;
      margin: 2em 0em;
      position: relative;

      #barOverlay {
        position: absolute;
        left: 0;
        right: 0;
        height: 100%;
        width: 100%;
        background-color: $ACCENT_COLOR3;
        border-radius: 0.25em;
        z-index: 3;
      }

      #toggle {
        width: 1.5em;
        height: 1.5em;
        position: absolute;
        top: -0.375em;
        background-color: $FONT_COLOR_DEFAULT;
        border-radius: 0.75em;
        cursor: pointer;
        z-index: 5;
      }
    }
  }
}

#Filters > div::-webkit-scrollbar {
  display: none;
}

#Filters.active {
  transform: translateX(0);
}

#Filters {
  > div {
    overflow-x: hidden;
  }
  .Switch {
    margin-top: 1em;
  }

  input[type="checkbox"] {
    accent-color: $ACCENT_COLOR3;
    cursor: pointer;
    //color: white;
  }
  // input[type="checkbox"] + label::before {
  //   background-color: white;
  // }
  // input[type="checkbox"]:checked + label::after {
  //   border: 3px solid white;
  //   background: rgba(0, 0, 0, 0);
  //   content: "";
  // }

  > h1 {
    span {
      // position: absolute;
      display: block;
      font-size: $FONT_SIZE_DEFAULT;
      // right: 1em;
      font-weight: normal;
      // top: 1em;
    }
    svg {
      display: none;
      cursor: pointer;
      height: 1em;
      fill: $FONT_COLOR_DEFAULT;
      position: absolute;
      right: 0.5em;
      top: 0.5em;
    }
  }

  .bubbles {
    .bubble {
      background-color: $FONT_COLOR_DEFAULT;
    }
    .bubble.active {
      background-color: $ACCENT_COLOR3;
    }
  }

  position: fixed;
  top: 0;
  right: 0;
  transform: translateX(110%);
  transition: 0.5s ease-out !important;

  background-color: $FONT_COLOR_LIGHTEST;
  box-shadow: 0 0px 1em rgb(0 0 0 / 40%);
  z-index: 50;
  border-radius: 1em 0em 0em 1em;
  width: 30vw;
  height: 100vh;
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: hidden;
  padding: 1em;
  display: flex;
  flex-direction: column;

  > div {
    /*max-height: calc(100vh - 2em);*/
    flex: 1 1;

    overflow-y: scroll;
    /* Hide scrollbar for IE, Edge and Firefox */
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  .bubble {
    cursor: pointer;
  }
  div > h2 {
    font-weight: bold;
    line-height: 1em;
    border-top: 1px solid $FONT_COLOR_LIGHT;
    border-bottom: 1px solid $FONT_COLOR_LIGHT;
    padding: 0.5em 0em;
  }

  > svg {
    position: absolute;
    top: 1em;
    right: 1em;
    height: 1.5em;
  }
}
