@import "./defaults.scss";

#Filters > div::-webkit-scrollbar {
  display: none;
}

#Filters.active {
  transform: translateX(0);
}

#Filters {
  input[type="checkbox"] {
    accent-color: $ACCENT_COLOR3;
    cursor: pointer;
    //color: white;
  }
  // input[type="checkbox"] + label::before {
  //   background-color: white;
  // }
  // input[type="checkbox"]:checked + label::after {
  //   border: 3px solid white;
  //   background: rgba(0, 0, 0, 0);
  //   content: "";
  // }
  > h1 span {
    position: absolute;
    font-size: $FONT_SIZE_DEFAULT;
    right: 1em;
    font-weight: normal;
    top: 1em;
  }

  .bubbles {
    .bubble {
      background-color: $FONT_COLOR_DEFAULT;
    }
    .bubble.active {
      background-color: $ACCENT_COLOR3;
    }
  }

  position: fixed;
  top: 0;
  right: 0;
  transform: translateX(110%);
  transition: 0.5s ease-out !important;

  background-color: $FONT_COLOR_LIGHTEST;
  box-shadow: 0 0px 1em rgb(0 0 0 / 40%);
  z-index: 50;
  border-radius: 1em 0em 0em 1em;
  width: 30vw;
  height: 100vh;
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: hidden;
  padding: 1em;
  display: flex;
  flex-direction: column;

  > div {
    /*max-height: calc(100vh - 2em);*/
    flex: 1 1;

    overflow-y: scroll;
    /* Hide scrollbar for IE, Edge and Firefox */
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  .bubble {
    cursor: pointer;
  }
  div > h2 {
    font-weight: bold;
    line-height: 1em;
    border-top: 1px solid $FONT_COLOR_LIGHT;
    border-bottom: 1px solid $FONT_COLOR_LIGHT;
    padding: 0.5em 0em;
  }

  > svg {
    position: absolute;
    top: 1em;
    right: 1em;
    height: 1.5em;
  }
}
