@import "../scss/defaults.scss";

.filler {
  flex: 1;
}

.GraphPage {
  overflow-x: hidden;
  max-height: 100vh;
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  #BarHierarchyGraph {
    overflow-y: scroll;
    overflow-x: hidden;
    background-color: white;
    svg {
      overflow-y: visible;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
  #BarHierarchyGraph::-webkit-scrollbar {
    display: none;
  }

  #BarHierarchy {
    overflow-y: hidden;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    background-color: white;
    #BarHierarchyX {
      overflow: visible;
    }
  }

  #ControlPanel {
    > #Options,
    > .Switch {
      margin-right: 1em;
      #Toggle {
        width: 7em;
      }
    }
  }

  .Graph::-webkit-scrollbar {
    display: none;
  }
  .Graph {
    flex: 1 1;
    overflow-y: hidden;
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
    position: relative;

    /* Hide scrollbar for IE, Edge and Firefox */
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */

    > svg {
      overflow: visible;
    }
  }
}
