@import "./defaults.scss";

#Main.page {
  max-width: 100vw;
  overflow-x: hidden;
  max-height: 100vh;
  overflow-y: scroll;
  background-color: white;

  /* Hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */

  h2 {
    font-family: $FONT_LOGO;
  }
}

#Main.page::-webkit-scrollbar {
  display: none;
}

@keyframes scrollStats {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-100%));
  }
}
#statsContainer {
  margin-top: 2em;
  margin-bottom: 2em;
  user-select: none;
  text-align: center;

  white-space: nowrap;
  > div {
    white-space: nowrap;
    width: 100%;
    overflow-x: hidden;
    > div {
      display: inline-block;
      animation: scrollStats 30s linear infinite;
    }
  }
}

h3.delta {
  font-size: 2em;
  margin-left: 1em;
  margin-right: 1em;
  display: inline-block;

  > div {
    text-align: center;
    font-size: 1.5em;
    position: relative;
    height: 1.5em;
    svg {
      max-width: 1em;
      max-height: 1em;
      position: relative;
      bottom: 0.333em;
      transform: translateY(50%);
      margin-right: 0.333em;
    }
    fill: $FONT_COLOR_SUB;
    color: $FONT_COLOR_SUB;
  }
  > span {
    div:first-child {
      font-size: 1.5em;
    }
    div:last-child {
      color: $FONT_COLOR_SUB;
      font-weight: normal;
      font-size: 0.5em;
      width: min-content;
      min-width: 100%;
      white-space: break-spaces;
    }
  }
}
h3.delta.up {
  > div:first-child {
    fill: $ACCENT_AFFIRM;
    color: $ACCENT_AFFIRM;
  }
}
h3.delta.down {
  > div:first-child {
    fill: $ACCENT_DENY;
    color: $ACCENT_DENY;
  }
  svg {
    transform: rotate(180deg) translateY(50%);
    top: 0.5em;
  }
}

.explainer {
  position: relative;
  cursor: pointer;
  z-index: 10;
  > span {
    display: none;
    white-space: nowrap;
    position: absolute;
    bottom: 50%;
    left: 100%;
    background-color: $FONT_COLOR_LIGHTEST;
    border-radius: 0.5em;
    padding: 0.5em 1em;
    border: 0.2em solid $FONT_COLOR_DEFAULT;
    color: $FONT_COLOR_DEFAULT;
    font-weight: bold;
    transform: translateY(100%);
  }
}
.explainer:hover {
  > span {
    display: block;
  }
}
#Main .leftblock {
  #ControlPanel {
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 0;
    padding-bottom: 0;
  }
}

#Understand {
  padding-bottom: 6em;
  > div:first-child {
    position: relative;
  }
  .Graph {
    //height: 30em;
    padding: 0em 2em 0em 2em;
    margin: 0;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }
}

.block {
  display: flex;
  flex-direction: row;
  > div {
    display: inline-block;
    width: 50%;
    box-sizing: border-box;
  }
}

#Analytics {
  background-color: $FONT_COLOR_LIGHTEST;

  padding-top: 0em;
  padding-bottom: 5em;

  display: flex;
  flex-direction: row;
  justify-content: space-around;
  > div:nth-child(1) > div {
    padding-top: 2em;
  }
  > div:nth-child(2) > div {
    padding-top: 8em;
  }
  > div:nth-child(3) > div {
    padding-top: 5em;
  }

  > div {
    > div {
      width: auto;
      display: inline-block;
      border-radius: 0 0 8em 8em;
      padding: 0em 3em 3em 3em;
      background-color: $PRIMARY_COLOR;

      position: relative;
      > span.right {
        right: 0;
        transform: translateX(100%);
        span {
          border-radius: 50% 0 0 0;
        }
      }
      > span.left {
        left: 0;
        transform: translateX(-100%);
        span {
          border-radius: 0 50% 0 0;
        }
      }
      > span {
        display: block;
        width: 5em;
        height: 5em;
        position: absolute;
        top: 0;

        background-color: $PRIMARY_COLOR;
        span {
          display: block;
          width: 100%;
          height: 100%;
          background-color: white;
        }
      }

      svg {
        height: 10vw;
        fill: $ACCENT_COLOR3; //$FONT_COLOR_DEFAULT;
        //fill: $FONT_COLOR_LIGHTEST;
        //fill: url(#ffflux-gradient);
        // fill: linear-gradient(
        //   90deg,
        //   rgba(255, 255, 255, 1) 0%,
        //   rgba(255, 152, 255, 1) 49%,
        //   rgba(126, 237, 255, 1) 100%
        // );
        margin-bottom: 2em;
      }
    }
    p {
      font-size: $FONT_SIZE_DEFAULT;
      text-align: justify;
      text-align-last: center;
    }
    width: 30%;
  }
  > div:last-child {
    margin-right: 0;
  }
}

.centerblock {
  color: $FONT_COLOR_DEFAULT;
  text-align: center;
}

#ControlPanelContainer {
  background-color: $PRIMARY_COLOR;
}
#Understand {
  background-color: $PRIMARY_COLOR;
  > div:last-child {
    h2 {
      color: black;
      font-size: 5em;
      white-space: wrap;
      -webkit-text-fill-color: $FONT_COLOR_LIGHTEST;
      position: relative;
      z-index: 2;
      > span {
        position: relative;
        z-index: -1;
        > .bg {
          z-index: -1;
          position: absolute;
          background-color: $ACCENT_COLOR3;
          border-radius: 3em;
          padding: 0.1em 0.5em;
          width: 100%;
          height: 100%;
          left: 50%;
          top: 50%;
          transform: translateY(-50%) translateX(-50%);
        }
      }
    }
  }
}

.bubbletext {
  text-emphasis: outline;
  font-family: $FONT_LOGO;
}

#Main > h2.bubbletext {
  // position: absolute;
  color: $FONT_COLOR_LIGHTEST;
  width: fit-content;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
  background-color: $ACCENT_COLOR1; // $PRIMARY_COLOR;
  font-size: 5em;
  text-align: center;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  // z-index: 1;
  // top: 0;
  // left: 50%;
  // transform: translateY(-70%) translateX(-50%);
  margin: 0;
  white-space: nowrap;
  line-height: 0.8em;

  text-shadow: -3px 0 black, 0 3px black, 0px 0 black, 0 0px black;
  -webkit-text-fill-color: $FONT_COLOR_LIGHTEST; // $ACCENT_COLOR3;
  color: black; //$FONT_COLOR_LIGHTEST;
  //box-shadow: -0.1em 0 black, 0 0em black, 0px -0.1em black, 0.1em 0px black;
  //outline: 0.5em solid black;
  border: 0.1em solid black;
  border-bottom-width: 0;
}

#Featured {
  max-height: 50em;
  min-height: 25em;
  border: 1em solid $ACCENT_COLOR1;
  background-color: $ACCENT_COLOR1;
  cursor: pointer;
  border-radius: 5em; // 5em 0 0;
  //box-shadow: -0.5em 0 black, 0 0.5em black, 0px -0.5em black, 0.5em 0px black;
  outline: 0.5em solid black;
  margin-bottom: 2em;

  margin-top: 0;
  box-sizing: border-box;
  //background-color: $ACCENT_COLOR1;
  //border-radius: 3em;
  overflow: hidden;
  padding: 1em;

  > .block {
    border-radius: 3em;
    background-color: white;
    overflow: hidden;
    //padding: 1em;
    border: 1em solid white;
    outline: 1em solid $ACCENT_COLOR3;
  }
  .info {
    display: flex;
    flex-direction: column;
    overflow-y: hidden;

    .bubbles {
      font-size: $FONT_SIZE_DEFAULT;
      .bubble {
        padding: 0.5em 1em;
        border-radius: 3em;
        font-size: 1em;

        color: $FONT_COLOR_LIGHTEST;
        background-color: $ACCENT_COLOR3;
        font-weight: normal;
        border-radius: 3em;
      }
    }

    p {
      flex: 1 0;
      overflow-y: scroll;
      text-align: justify;
    }
    p::-webkit-scrollbar {
      display: none;
    }

    h2 {
      font-family: "Futura PT";
      margin-top: 0em;
      margin-bottom: 0em;
      font-size: 3em;
    }
    h3 {
      font-size: 1em;
      font-weight: normal;
    }
  }
  .block > div:first-of-type {
    width: 50%;
    position: relative;
    > img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
    .rating {
      // position: absolute;
      // bottom: 0;
      // transform: translateY(-1em) translateX(-50%);
      // width: 50%;
      // left: 50%;
      div svg {
        fill: $FONT_COLOR_LIGHTEST;
        paint-order: fill stroke;
        stroke: $FONT_COLOR_DEFAULT;
        stroke-width: 1.5em;
        stroke-linejoin: round;
        overflow: visible;
      }
    }
    .rating {
      position: absolute;
      transform: rotate(-90deg) translateX(-100%);
      transform-origin: 0% 0%;
      top: calc(50% - 11em);
      left: 1em;
      width: 22em;
    }
  }
  h3 {
    img {
      height: 1em;
      width: auto;
      display: inline-block;
      margin-right: 0.3em;
    }
  }
}

#Main {
  .bubbletext {
    //color: $FONT_COLOR_LIGHTEST;
    //-webkit-text-fill-color: $ACCENT_COLOR3;
    -webkit-text-stroke: 3px;
    z-index: 5;
    text-shadow: -6px 0 black, 0 5px black, 0px 0 black, 0 0px black;
  }
}

#Main > a {
  z-index: 2;
  position: relative;
  #bg {
    position: absolute;
    z-index: -1;
    background-color: $PRIMARY_COLOR;
    width: 100vw;
    left: 0;
    top: 50%;
    height: 60%;
    //border-radius: 5em 5em 0 0;
  }
}

#Main.page {
  #Welcome {
    color: $FONT_COLOR_LIGHTEST;
    margin-bottom: 0em;

    h2.bubbletext {
      font-size: 5em;
      color: black;
      -webkit-text-fill-color: $FONT_COLOR_LIGHTEST;
      text-shadow: -3px 0 black, 0 3px black, 0px 0 black, 0 0px black;
    }

    > div:last-child {
      background-color: $FONT_COLOR_LIGHTEST;

      img {
        width: 100%;
        position: relative;
        top: 50%;
        left: 50%;
        transform: translateY(-50%) translateX(-50%);
      }
    }

    > div:first-child {
      background-color: $ACCENT_COLOR3;
      border-radius: 0em 0em 2em 0em;

      padding-top: 6em;
      padding-bottom: 6em;
      text-align: justify;

      > h2 {
        margin-top: 0em;
      }
    }
  }
}

#TitlePage {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  user-select: none;
  .arrow {
    cursor: pointer;
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translate(-50%, -100%);
  }
  .arrow span {
    display: block;
    width: 1.5vw;
    height: 1.5vw;
    border-bottom: 5px solid white;
    border-right: 5px solid white;
    transform: rotate(45deg);
    margin: -10px;
    animation: animate 2s infinite;
  }

  .arrow span:nth-child(2) {
    animation-delay: -0.2s;
  }

  .arrow span:nth-child(3) {
    animation-delay: -0.4s;
  }

  @keyframes animate {
    0% {
      opacity: 0;
      transform: rotate(45deg) translate(-20px, -20px);
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
      transform: rotate(45deg) translate(20px, 20px);
    }
  }

  #MovieInfo {
    position: absolute;
    bottom: 1em;
    right: 1em;
    color: $FONT_COLOR_LIGHTEST;

    h3 {
      font-size: $FONT_SIZE_DEFAULT;
      font-weight: lighter;
      text-align: right;
      margin-top: 0.25em;
      margin-bottom: 0em;
      padding: 0em;
      cursor: pointer;
    }
  }

  .background {
    top: 0;
    left: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 120%;
    width: 120%;

    margin: -2%;

    img {
      min-height: 100%;
      min-width: 100%;

      position: absolute;
      top: 0;
      left: 0;
      transform: translateY(calc((100vh - 100%) / 2))
        translateX(calc((100vw - 100%) / 2));
    }

    /* Add the blur effect */
    filter: blur(8px);
    -webkit-filter: blur(15px);
  }

  #Title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    h1 {
      color: $FONT_COLOR_LIGHTEST;
      font-size: 9em;
      font-family: $FONT_LOGO;

      white-space: nowrap;
      text-shadow: 0 0px 0.15em rgb(0 0 0 / 40%);
    }
  }
}
/*background-image: url("../static/movie-gifs/imagine-me-and-you-000.gif");*/
@media (max-width: $WIDTH_LARGE_SCREEN) {
  #Main {
    #Understand {
      h2 {
        font-size: 5em;
      }
    }
  }
}

@media (max-width: $WIDTH_SMALL_SCREEN) {
  #Welcome.block {
    flex-direction: column;

    > div {
      width: 100%;
    }
  }

  #Welcome.block {
    > div {
      img {
        display: inline-block;
        transform: none;
        left: 0;
        width: 60%;
      }
    }
    > div:first-child {
      padding-bottom: 3em;
    }
    > div:last-child {
      text-align: center;
      padding: 0em 0em 4em 0em;
      background-color: $ACCENT_COLOR3;
    }
  }

  #Main #Understand {
    h2 {
      font-size: 4em;
    }
  }

  #Analytics.centerblock {
    display: grid;
    grid-template: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    row-gap: 1em;
    column-gap: 3em;

    > div {
      width: auto;
    }

    > div:last-child {
      position: relative;
      left: 50%;
    }
  }
}

@media (max-width: $WIDTH_TABLET) {
  #TitlePage #Title {
    h1 {
      font-size: calc($FONT_SIZE_TITLE * 1.5);
    }
  }
  #Main {
    #Understand.block {
      flex-direction: column;

      > div {
        width: 100%;
      }
    }
    #Understand {
      .Graph {
        width: 80%;
        left: 50%;
        transform: translateX(-50%);
      }
      h2 {
        font-size: 4em;
        text-align: center;
        margin-top: 0.5em;
      }
    }
  }

  #Main .centerblock {
    flex-direction: column;
  }

  #Welcome.block {
    > div {
      img {
        width: 80%;
      }
    }
  }
}

@media (max-width: $WIDTH_MOBILE) {
  #TitlePage #Title {
    position: inherit;
    width: 100%;
    top: 0;
    left: 0;
    transform: none;
    h1 {
      font-size: calc($FONT_SIZE_TITLE * 1.5);
    }
  }
  #Analytics.centerblock {
    display: flex;
    flex-direction: column;

    > div {
      width: auto;
      padding-left: 3em;
      padding-right: 3em;

      svg {
        height: 20vw;
        margin-top: 2em;
        margin-bottom: 0em;
      }
    }
    > div:last-child {
      position: relative;
      left: 0%;
    }
  }

  #Main #Understand {
    .Graph {
      width: 100%;
    }
    h2 {
      font-size: 3em;
      margin-top: 0em;
    }
  }
  #Welcome.block {
    > div:first-child {
      padding-top: 4em;
      padding-bottom: 2em;
    }
    > div {
      img {
        width: 100%;
      }
      h2 {
        font-size: 3em;
      }
    }

    > div:last-child {
      padding: 0em 0em 2em 0em;
    }
  }

  #TitlePage {
    #Title {
      h1 {
        font-size: $FONT_SIZE_TITLE;
      }
    }

    .searchbar {
      input {
        width: 10.5em;
      }
      .searchresult {
        width: 13.5em;

        div:last-child {
          right: 1em;
        }
        padding-left: 1em;
        padding-right: 1em;
        padding-top: 1em;
      }
      .searchresults {
        max-height: 12em;
      }
    }
  }
}
