@import "./defaults.scss";

#MainMenu {
  z-index: 5;
  background-color: $FONT_COLOR_LIGHTEST;
  display: block;
  width: 100%;
  position: relative;
  font-size: 1em;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  box-shadow: 0 5px 10px rgba(154, 161, 177, 0.1);

  a.active {
    color: $PRIMARY_COLOR;
    cursor: default;
  }

  svg {
    height: 2em;
  }
  .logo {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    fill: $PRIMARY_COLOR;
  }
  nav {
    display: flex;
  }
  nav:first-of-type {
    > a,
    > div {
      margin-right: 2em;
    }
  }
  nav:last-of-type {
    > a,
    > div {
      margin-left: 2em;
    }
  }
  nav > div {
    position: relative;
    .dropdown {
      display: none;
      position: absolute;
      top: 100%;
      left: -1em;
      background-color: $FONT_COLOR_LIGHTEST;
      color: $FONT_COLOR_DEFAULT;

      > div {
        padding: 1em 1em;
        white-space: nowrap;
      }
      > div:hover {
        color: $PRIMARY_COLOR;
      }
    }
  }
  nav > div:hover .dropdown {
    display: block;
  }

  nav > a,
  nav > div {
    cursor: pointer;
    padding: 1em 0em;
    display: inline-block;
    span {
      position: relative;
    }
    span:after {
      background-color: $PRIMARY_COLOR;
      bottom: 2px;
      content: "";
      height: 2px;
      left: 0;
      position: absolute;
      transition: width 0.2s ease-in-out;
      visibility: hidden;
      width: 0;
    }
  }
  nav > a:not(.active):hover,
  nav > div:hover {
    color: $PRIMARY_COLOR;
    span:after {
      width: 100%;
      visibility: visible;
    }
  }
}

#MenuContainer {
  position: fixed;
  top: 2em;
  left: 2em;
  z-index: 100;

  > svg {
    position: absolute;
    height: 2em;
    fill: $FONT_COLOR_LIGHTEST;
    cursor: pointer;
  }
}

#MenuContainer:hover #Menu {
  translate: transformX(0%) !important;
  -webkit-transform: translateX(0%) !important;
  left: 0em;
}

#Menu:hover {
  transform: translateX(0%);
  -webkit-transform: translateX(0%);
  left: 0em;
}
.sidetab {
  position: fixed;
  left: 0em;
  top: 40vh;
  height: 20vh;
  width: auto;
  border-radius: 0em 1em 1em 0em;
  background-color: $FONT_COLOR_LIGHTEST;
  box-shadow: 0 0px 0.5em rgb(0 0 0 / 40%);
  display: none;
  cursor: pointer;

  div {
    display: inline-block;
    box-sizing: border-box;
    margin-top: 1em;
    margin-bottom: 1em;
    height: calc(100% - 2em);
    border-left: 1px solid $FONT_COLOR_LIGHT;
    margin-left: 0.05em;
  }
  div:last-child {
    margin-right: 0.35em;
  }
  div:first-child {
    margin-left: 0.35em;
  }
}

#Menu {
  height: 100%;
  width: fit-content;
  background-color: $FONT_COLOR_LIGHTEST;
  padding: 1em 0em 1em 1.5em;
  position: fixed;
  top: 0;
  left: -1em;
  // display: flex;
  // flex-direction: column;
  border-radius: 0em 1em 0em 1em;
  box-shadow: 0 10px 1em rgb(0 0 0 / 40%);

  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);

  transition: 0.25s ease-in-out !important;

  > a {
    flex-grow: 0;
  }

  > a > svg {
    height: 3em;
    fill: $PRIMARY_COLOR;
    padding-bottom: 2em;
  }

  hr {
    border-color: $FONT_COLOR_LIGHT;
    border-top: none;
    margin-right: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
  }

  h3 {
    color: $FONT_COLOR_LIGHT;
    font-size: $FONT_SIZE_MED;
    font-weight: normal;
    margin-right: 2em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
  }

  > span {
    position: absolute;
    bottom: 0;
    transform: translateY(-50%);
  }
}

#Menu a.active div svg {
  fill: $ACCENT_COLOR1;
}

#Menu a.inactive div > svg {
  fill: $ACCENT_COLOR3;
}

#Menu a {
  padding-bottom: 0.5em;

  div {
    font-size: $FONT_SIZE_HEADING;
    font-weight: 500;
    line-height: 1em;
    padding: 0.5em 1em 0.5em 0em;

    svg {
      height: 0.8em;
      display: inline-block;
      padding-right: 0.5em;
      fill: $ACCENT_COLOR3;
    }
  }

  div:hover > svg {
    fill: $ACCENT_COLOR1;
  }
}
