@import "./defaults.scss";

@keyframes slideInCenter {
  0% {
    opacity: 0;
    //transform: scale(80%);
  }
  100% {
    opacity: 1;
    //transform: scale(100%);
  }
}

#Movie {
  // #MainMenu {
  //   position: fixed;
  //   width: 100%;
  //   top: 0;
  // }
  // padding-top: 3em;
  display: flex;
  min-height: 100vh;
  //@debug: 100vh;
  width: 100%;
  //overflow-y: hidden;
  flex-direction: column;
  position: relative;

  #MovieControls {
    // position: absolute;
    // top: 2em;
    // display: flex;
    // flex-direction: row;
    // justify-content: space-evenly;
    // width: 6vw;
    // right: 0;
    text-align: right;
    svg {
      cursor: pointer;
      margin-left: 0.5em;
    }
    z-index: 10;
  }

  .trailer {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    z-index: 102;
    width: 80vw;
    height: 45vw;
    animation: 1s ease-in-out 0s 1 slideInCenter;
  }
  .cover {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
    z-index: 101;
    animation: 0.5s ease-in-out 0s 1 slideInCenter;
  }

  #MovieContainer {
    position: relative;
    background-color: $FONT_COLOR_LIGHTEST;
    margin-top: 0em;
    margin-bottom: 0em;
    padding: 2em 2em 1em 2em;
    ::-webkit-scrollbar {
      display: none;
    }
    flex: 1 1;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    box-sizing: border-box;

    > .GalleryContainer {
      overflow-y: auto;
      width: 44%;
      margin-right: 2%;
      //float: left;
      > .Gallery {
        //overflow-y: scroll;
        min-height: 100%;
        height: 0;
      }
    }

    #MovieContents {
      width: 54%;

      //float: right;
      max-height: 100%;
      position: relative;
      overflow-x: initial;
      display: flex;
      flex-direction: column;

      .expandable_bubbles {
        h2 {
          font-size: $FONT_SIZE_HEADING;
        }
      }

      #MovieTitle {
        flex: 0 1;

        .bubbles {
          font-size: $FONT_SIZE_DEFAULT;
          .bubble {
            padding: 0.5em 1em;
            border-radius: 3em;
            font-size: 1em;

            color: $FONT_COLOR_LIGHTEST;
            background-color: $ACCENT_COLOR3;
            font-weight: normal;
            border-radius: 3em;
          }
        }

        .rating {
          fill: $ACCENT_COLOR3;
        }

        h1 {
          margin-top: 0.2em;
          margin-bottom: 0.2em;
          white-space: break-spaces;
          line-height: 1em;
        }
        > h2 {
          font-weight: normal;
          margin-bottom: 2em;

          img,
          svg {
            height: 1em;
            margin-right: 0.3em;
          }
        }

        #MovieDetails {
          display: flex;
          justify-content: space-between;
          > div#aside {
            // position: absolute;
            // right: 0;
            // top: 0;
            font-weight: bold;
            line-height: 1em;
            font-size: 2em;

            text-align: right;
            .button {
              margin-right: 0;
              margin-left: 1em;
            }
          }
        }
      }

      #MovieParts {
        flex: 1 1;
        overflow-x: initial;
        ::-webkit-scrollbar {
          display: none;
        }
        > p {
          text-align: justify;
        }

        #quote {
          width: 100%;
          background-color: $ACCENT_COLOR4;
          border-radius: 1em;
          text-align: center;
          padding: 2em 1em;
          box-sizing: border-box;
          margin-top: 2em;
        }
      }
    }
  }
}

@mixin content_styling($font_multiplier, $default_font_multiplier) {
  #Movie {
    #MovieControls {
      svg {
        height: $FONT_SIZE_HEADING * $font_multiplier;
      }
    }

    #MovieContainer #MovieContents {
      font-size: $FONT_SIZE_DEFAULT * $default_font_multiplier;

      #MovieTitle {
        h1 {
          font-size: $FONT_SIZE_TITLE * $font_multiplier;
        }
        > h2 {
          font-size: $FONT_SIZE_DEFAULT * $default_font_multiplier;
        }
        > div#aside {
          font-size: $FONT_SIZE_HEADING * $font_multiplier;
        }
      }

      #MovieParts {
        #findMe {
          #watchTrailer {
            font-size: $FONT_SIZE_DEFAULT * $default_font_multiplier;
          }
          > h2 {
            font-size: $FONT_SIZE_HEADING * $font_multiplier;
          }

          .source span {
            font-size: $FONT_SIZE_DEFAULT * $default_font_multiplier;
          }
        }
      }
      .bubbles {
        .bubble {
          font-size: $FONT_SIZE_DEFAULT * $default_font_multiplier;
        }
      }

      .expandable_bubbles {
        h2 {
          font-size: $FONT_SIZE_HEADING * $font_multiplier;
        }
        // span {
        //   font-size: $FONT_SIZE_DEFAULT * $default_font_multiplier;
        // }
      }
    }
  }
}
@include content_styling($font_multiplier: 1, $default_font_multiplier: 1);

@media (max-width: $WIDTH_SMALL_SCREEN) {
  #Movie {
    ::-webkit-scrollbar {
      display: none;
    }
  }
  #Movie #MovieContainer {
    overflow-x: visible;
  }
  #Movie #MovieContainer #MovieContents {
    width: 100%;
    height: auto;
    float: none;
    margin-bottom: 1em;

    #MovieTitle {
      > div#aside {
        top: 1.5em;
      }
    }
  }
}

@media (max-width: $WIDTH_TABLET) {
  @include content_styling(
    $font_multiplier: 0.9,
    $default_font_multiplier: 0.9
  );

  #Movie #MovieContainer .expandable_bubbles {
    span {
      // float: none;
      // display: block;
      // padding-top: 0.5em;
    }
  }
}

@media (max-width: $WIDTH_MOBILE) {
  @include content_styling(
    $font_multiplier: 0.8,
    $default_font_multiplier: 0.9
  );

  #Movie {
    // #MovieControls {
    //   padding-right: 1em;
    // }
    #MovieContainer {
      padding-left: 1em;
      padding-right: 1em;
    }
  }

  #Movie #MovieContainer #MovieContents #MovieTitle #MovieDetails {
    flex-direction: column;

    .ratingContainer {
      margin-bottom: 1em;
      width: 100%;
      box-sizing: border-box;
    }

    div#aside {
      > div {
        display: inline-block;
      }
      text-align: left;

      #MovieControls {
        display: block;
        float: right;
      }
    }
  }
}
