@import "./defaults.scss";

@keyframes slideInCenter {
  0% {
    opacity: 0;
    //transform: scale(80%);
  }
  100% {
    opacity: 1;
    //transform: scale(100%);
  }
}

#Movie {
  display: flex;
  height: 100vh;
  width: 100vw;
  overflow-y: hidden;
  flex-direction: column;
  position: relative;

  #MovieControls {
    position: absolute;
    top: 2em;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 6vw;
    right: 0;
    svg {
      cursor: pointer;
    }
    z-index: 10;
  }

  .trailer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    z-index: 102;
    width: 80vw;
    height: 45vw;
    animation: 1s ease-in-out 0s 1 slideInCenter;
  }
  .cover {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
    z-index: 101;
    animation: 0.5s ease-in-out 0s 1 slideInCenter;
  }

  #MovieContainer {
    flex: 1 1;
    background-color: $FONT_COLOR_LIGHTEST;
    margin-top: 0em;
    margin-bottom: 0em;
    overflow-y: hidden;
    padding: 2em 2em 1em 2em;
    ::-webkit-scrollbar {
      display: none;
    }

    #MovieContents {
      width: 54%;
      float: right;
      max-height: 100%;
      position: relative;
      overflow-y: hidden;
      display: flex;
      flex-direction: column;

      .expandable_bubbles {
        h2 {
          font-size: $FONT_SIZE_HEADING;
        }
      }

      #MovieTitle {
        flex: 0 1;

        .bubbles {
          font-size: $FONT_SIZE_DEFAULT;
          .bubble {
            padding: 0.5em 1em;
            border-radius: 3em;
            font-size: 1em;

            color: $FONT_COLOR_LIGHTEST;
            background-color: $ACCENT_COLOR3;
            font-weight: normal;
            border-radius: 3em;
          }
        }

        .rating {
          width: 15em;
          fill: $ACCENT_COLOR3;
        }

        h1 {
          margin-top: 0;
          margin-bottom: 0;
        }
        > h2 {
          font-weight: normal;
          margin-bottom: 2em;

          img {
            height: 1em;
            margin-right: 0.1em;
            cursor: pointer;
          }
        }
        > div#aside {
          position: absolute;
          right: 0;
          top: 0;
          font-weight: bold;
          line-height: 1em;
          font-size: 2em;
        }
      }

      #MovieParts {
        flex: 1 1;
        overflow-y: scroll;
        ::-webkit-scrollbar {
          display: none;
        }
        > p {
          text-align: justify;
        }

        #quote {
          width: 100%;
          background-color: $ACCENT_COLOR4;
          border-radius: 1em;
          text-align: center;
          padding: 2em 1em;
          box-sizing: border-box;
          margin-top: 2em;
        }

        #findMe {
          .disclaimer {
            font-weight: lighter;
            position: relative;
            top: -1em;
            width: 100%;
            display: block;
            text-align: justify;
          }
          > div {
            margin-top: 1em;
          }

          #watchTrailer {
            float: right;
            font-size: $FONT_SIZE_DEFAULT;
            text-decoration: underline;
            font-weight: lighter;
            cursor: pointer;
          }
          > div {
            display: flex;
            gap: 2em;
            flex-direction: row;
            flex-wrap: wrap;
            img {
              height: 5em;
            }
          }
        }
      }
    }
  }
}

@media (max-width: $WIDTH_LARGE_SCREEN) {
  #Movie {
    ::-webkit-scrollbar {
      display: none;
    }

    #MovieControls {
      justify-content: space-between;
      gap: 0.5em;
      padding-right: 2em;
    }
  }
  #Movie #MovieContainer {
    overflow-y: scroll;
    overflow-x: visible;
  }
  #Movie #MovieContainer #MovieContents {
    width: 100%;
    height: auto;
    overflow-y: hidden;
    float: none;
    margin-bottom: 1em;

    #MovieTitle {
      > div#aside {
        top: 1.5em;
      }
    }
  }
}

@mixin content_styling($font_multiplier, $default_font_multiplier) {
  #Movie {
    #MovieControls {
      svg {
        height: $FONT_SIZE_HEADING * $font_multiplier;
      }
    }

    #MovieContainer #MovieContents {
      font-size: $FONT_SIZE_DEFAULT * $default_font_multiplier;

      #MovieTitle {
        h1 {
          font-size: $FONT_SIZE_TITLE * $font_multiplier;
        }
        > h2 {
          font-size: $FONT_SIZE_DEFAULT * $default_font_multiplier;
        }
        > div#aside {
          font-size: $FONT_SIZE_HEADING * $font_multiplier;
        }
      }

      #MovieParts {
        #findMe {
          #watchTrailer {
            font-size: $FONT_SIZE_DEFAULT * $default_font_multiplier;
          }
          > h2 {
            font-size: $FONT_SIZE_HEADING * $font_multiplier;
          }

          .source span {
            font-size: $FONT_SIZE_DEFAULT * $default_font_multiplier;
          }
        }
      }
      .bubbles {
        .bubble {
          font-size: $FONT_SIZE_DEFAULT * $default_font_multiplier;
        }
      }

      .expandable_bubbles {
        h2 {
          font-size: $FONT_SIZE_HEADING * $font_multiplier;
        }
        span {
          font-size: $FONT_SIZE_DEFAULT * $default_font_multiplier;
        }
      }
    }
  }
}

@include content_styling($font_multiplier: 1, $default_font_multiplier: 1);

@media (max-width: $WIDTH_TABLET) {
  @include content_styling(
    $font_multiplier: 0.9,
    $default_font_multiplier: 0.9
  );

  #Movie #MovieContainer .expandable_bubbles {
    span {
      float: none;
      display: block;
      padding-top: 0.5em;
    }
  }
}

@media (max-width: $WIDTH_MOBILE) {
  @include content_styling(
    $font_multiplier: 0.8,
    $default_font_multiplier: 0.9
  );

  #Movie {
    #MovieControls {
      padding-right: 1em;
    }
    #MovieContainer {
      padding-left: 1em;
      padding-right: 1em;
    }
  }
}
