@import "./defaults.scss";

#Overview {
  overflow-x: hidden;
  max-width: 100%;
  > div:not(#MainMenu) {
    position: relative;
    background-color: $FONT_COLOR_LIGHTEST;
    padding: 1em;
    margin-bottom: 1em;
    h3 {
      text-align: center;
    }
    .description {
      text-align: justify;
      text-align-last: center;
      width: 40vw;
      position: relative;
      left: 50%;
      transform: translateX(-50%);
    }
    > .Graph {
      width: 100%;
      height: 400px;
      margin: 0;
      padding: 0;
    }
  }
  .stats {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .sidegraphs {
    height: 30em;
  }
  .bubbletext {
    line-height: 1em;
  }
}
