@import "./defaults.scss";

#Overview {
  overflow-x: hidden;
  max-width: 100%;
  #Types {
    margin-top: 1em;
  }
  > div:not(#MainMenu):not(.footer) {
    position: relative;
    background-color: $FONT_COLOR_LIGHTEST;
    padding: 1em;
    margin-bottom: 1em;
    h3 {
      text-align: center;
    }
    .description {
      text-align: justify;
      text-align-last: center;
      width: 40vw;
      position: relative;
      left: 50%;
      transform: translateX(-50%);
    }
    > .Graph {
      width: 100%;
      height: 400px;
      margin: 0;
      padding: 0;
    }
  }
  .stats {
    // display: grid;
    // grid-template-columns: 1fr 1fr 1fr;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    > h3 {
      width: 33.333%;
      box-sizing: border-box;
    }
  }
  .sidegraphs {
    .Graph {
      height: 30em;
    }
  }
  .bubbletext {
    line-height: 1em;
  }
}

@media (max-width: $WIDTH_SMALL_SCREEN) {
  #Overview {
    .stats {
      //grid-template-columns: 1fr 1fr;
      > h3 {
        width: 50%;
      }
    }
    > div:not(#MainMenu):not(.footer) {
      .description {
        width: 70%;
      }
    }
  }
}

@media (max-width: $WIDTH_MOBILE) {
  #Overview {
    .stats {
      //grid-template-columns: 1fr;
      > h3 {
        width: 100%;
      }
    }
    > div:not(#MainMenu):not(.footer) {
      .description {
        width: 100%;
      }
    }
  }
}
