@import "./defaults.scss";

.ratingContainer {
  background-color: $FONT_COLOR_LIGHTER;
  border-radius: 1em;
  padding: 1em;
  width: fit-content;
  display: table;

  > div {
    // display: table-row;
    display: flex;
    flex-wrap: wrap;

    > .rating {
      display: table-cell;
      position: relative;
      width: fit-content;
      z-index: 2;

      .defaultVote {
        fill: $FONT_COLOR_LIGHT;
      }
      .defaultVote:not(.noVote) {
        position: absolute;
        top: 0%;
        left: 0;
        z-index: -1;
      }

      > div {
        z-index: 1;
        flex-wrap: nowrap;
        display: flex;
        gap: 0.5em;
        svg {
          height: 2em;
        }
        margin-right: 1em;
      }
    }
    .description {
      display: table-cell;
      vertical-align: top;
      white-space: nowrap;
      line-height: 1em;
      padding-bottom: 0.5em;
    }
  }
}

// .rating div.yourvote.front {
//   z-index: 5;
// }

// span {
//   display: inline-block;
// }

@media (max-width: $WIDTH_MOBILE) {
  .ratingContainer {
    > div {
      > .rating {
        > div {
          gap: 0.2em;
          svg {
            height: 1.5em;
          }
        }
      }
    }
  }
}
