@import "./defaults.scss";

.searchbar {
  display: inline-block;
  position: relative;

  > a > span {
    color: $FONT_COLOR_LIGHTEST;
    display: block;
    margin-top: 1em;
    text-decoration: underline;
    position: absolute;
    width: 100%;
    font-size: $FONT_SIZE_DEFAULT;
    font-weight: lighter;
  }

  .searchresults {
    margin-top: 1em;
    position: absolute;
    border-radius: 0.5em;
    overflow-y: scroll;
    max-height: 10em;
  }
  .searchresults::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .searchresults {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
  input {
    background-color: transparent;
  }
  span.bg {
    position: absolute;
    z-index: -2;
    background-color: $FONT_COLOR_LIGHTEST;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    border-radius: 0.5em;
  }
  // input:after {
  //   display: block;
  //   width: 100%;
  //   height: 100%;
  //   background-color: white;
  // }

  input,
  .searchresult {
    padding: 0.5em 2.5em 0.5em 2.5em;
    width: 18em;
    box-shadow: 0 0px 0.15em rgb(0 0 0 / 40%);
    border-radius: 0.5em;
    border: none;
    font-size: $FONT_SIZE_MED;
    color: $FONT_COLOR_LIGHT;
    font-family: "Futura PT";
  }
  .searchresult {
    position: relative;
    background-color: $FONT_COLOR_LIGHTEST;
    border-radius: 0;
    box-shadow: none;
    border-bottom: 1px solid $FONT_COLOR_LIGHT;
    color: $FONT_COLOR_SUB;
    padding: 0.5em 2em 0.5em 2em;
    cursor: pointer;
    text-align: left;
    width: 19em;
  }
  .searchresult:hover {
    background-color: $FONT_COLOR_LIGHT;
    color: $FONT_COLOR_DEFAULT;
  }
  .searchresult div:last-child {
    position: absolute;
    top: 0.5em;
    right: 2em;
    font-size: $FONT_SIZE_DEFAULT;
    white-space: no-wrap;
    line-height: $FONT_SIZE_DEFAULT;
  }
  .searchresult svg,
  .searchresult img {
    fill: $FONT_COLOR_SUB;
    position: relative;
    top: 1px;
    height: ($FONT_SIZE_DEFAULT - 3px);
  }
  .searchresult img {
    filter: invert(64%) sepia(14%) saturate(297%) hue-rotate(162deg)
      brightness(90%) contrast(84%);
  }
  .searchresult:hover svg,
  .searchresult:hover img {
    fill: $FONT_COLOR_DEFAULT;
  }

  > svg,
  > img {
    height: $FONT_SIZE_MED;
    position: absolute;
    left: 1em;
    top: 1em;
    fill: $FONT_COLOR_LIGHT;
  }
  > span:not(.bg) {
    position: absolute;
    text-align: left;
    //padding-top: calc(0.5em * $FONT_SIZE_MED / $FONT_SIZE_DEFAULT);
    //padding-bottom: calc(0.5em * $FONT_SIZE_MED / $FONT_SIZE_DEFAULT);
    padding-left: calc(2.5em * $FONT_SIZE_MED / $FONT_SIZE_DEFAULT);
    padding-right: calc(2.5em * $FONT_SIZE_MED / $FONT_SIZE_DEFAULT);
    //padding: 0.5em 2.5em 0.5em 2.5em;
    width: 100%;
    //height: 100%;
    box-sizing: border-box;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    color: $FONT_COLOR_LIGHT;
    z-index: -1;
  }
}

.searchbar input::placeholder {
  color: $FONT_COLOR_LIGHT;
  text-align: center;
}

#Rankings #ControlPanel {
  flex-wrap: wrap;
  row-gap: 1em;
  .Switch {
    width: -webkit-min-content;
    white-space: break-space;
  }
}
