@import "../scss/defaults.scss";

@mixin width_styling($side_padding) {
  // your SCSS here, e.g.
  #Browse #MovieList #BrowseResults,
  .footer,
  #ControlPanel {
    padding-left: $side_padding;
    padding-right: $side_padding;
  }
  #Movie #MovieContainer {
    margin-left: $side_padding;
    margin-right: $side_padding;
  }

  .Graph {
    margin-left: $side_padding;
    margin-right: $side_padding;
  }
  #faq > h2 {
    margin-left: $side_padding;
    margin-right: $side_padding;
  }
  #faq > h3 {
    margin-left: $side_padding;
    margin-right: $side_padding;
  }
  #faq > div:first-of-type {
    margin-left: $side_padding;
    margin-right: $side_padding;
  }
}

@mixin main_width_styling($side_padding) {
  #Main {
    .centerblock {
      padding-left: $side_padding;
      padding-right: $side_padding;
    }
    .block {
      > div:first-child,
      > div:last-child {
        padding-left: $side_padding;
        padding-right: $side_padding;
      }
    }
    .leftblock {
      padding-left: $side_padding;
      padding-right: $side_padding;
    }

    .footer {
      padding-left: $side_padding;
      padding-right: $side_padding;
    }
  }
}

@include main_width_styling($side_padding: 5vw);

@include width_styling($side_padding: 15vw);

#Filters {
  width: 32em;
}

@media (max-width: $WIDTH_LARGEST_SCREEN) {
  @include width_styling($side_padding: 8vw);
  #Movie {
    #MovieControls {
      width: 8vw;
    }
  }
}

@media (max-width: $WIDTH_LARGE_SCREEN) {
  @include width_styling($side_padding: 3vw);
  #MenuContainer .hamburger {
    display: none;
  }
  .sidetab {
    display: block;
  }

  #Movie {
    #MovieControls {
      right: 3vw;
      width: auto;
    }
  }
}

@media (max-width: $WIDTH_SMALL_SCREEN) {
  @include width_styling($side_padding: 3vw);
  #ControlPanel #Categories {
    width: 94vw;
    margin-left: 3vw;
    margin-right: 3vw;
  }
}

@media (max-width: $WIDTH_TABLET) {
  @include width_styling($side_padding: 3vw);
  #Browse .Alert {
    width: 60vw;
    max-width: 60vw;
  }
}

@media (max-width: $WIDTH_MOBILE) {
  @include width_styling($side_padding: 5vw);
  #Browse .Alert {
    width: 90vw;
    max-width: 90vw;
  }

  #ControlPanel #Categories {
    width: 90vw;
    margin-left: 5vw;
    margin-right: 5vw;
  }

  #Movie {
    #MovieControls {
      right: 5vw;
    }
  }

  #Filters {
    width: 100vw;
    border-radius: 0;
  }
}
