@import "./defaults.scss";

.deltaSymbol {
  fill: $FONT_COLOR_LIGHT;
  svg {
    height: 1em;
  }
}
.deltaSymbol.negative {
  fill: $ACCENT_DENY;
  transform: rotate("180deg");
}
.deltaSymbol.positive {
  fill: $ACCENT_AFFIRM;
}

#findMe {
  > h2 {
    margin-bottom: 0.5em;
    svg {
      height: 1em;
      float: right;
      cursor: pointer;
    }
  }
}

.sources {
  background-color: $FONT_COLOR_LIGHTER;
  border-radius: 1em;
  padding: 1em;
  overflow-x: unset;
  overflow-y: unset;

  .source:last-child {
    border-bottom: none;
    padding-bottom: 0;
  }
  .source:first-child {
    padding-top: 0em;
  }
  .source {
    width: 100%;
    border-bottom: 1px solid $FONT_COLOR_DEFAULT;
    padding-bottom: 1em;
    padding-top: 1em;
    display: flex;
    flex-direction: row;

    > img {
      width: 4em;
      height: fit-content;
    }

    .description {
      padding-left: 1em;
      h2 {
        margin-top: 0;
        img {
          padding-left: 0.5em;
          height: 1.5em;
          cursor: pointer;
        }
        .explainer span {
          z-index: 100;
          white-space: break-spaces;
          min-width: 100px;
        }
      }
      > div {
        display: flex;
        flex-direction: row;
        gap: 2em;

        .price {
          span:first-child {
            font-weight: bold;
          }
        }
        .button {
          font-size: 1em;
          padding: 0.5em 1.5em;
        }

        .source_voting {
          text-align: center;
          #votes {
            display: block;
            font-weight: bold;
            margin-bottom: 0.5em;
          }

          #voter {
            // position: absolute;
            // bottom: 0;
            // left: 50%;
            // transform: translateY(50%) translateX(-50%);
            // display: none;
            span {
              svg {
                font-size: $FONT_SIZE_DEFAULT;
                height: 1em;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translateY(-50%) translateX(-50%);
                fill: $FONT_COLOR_LIGHTEST;
              }

              cursor: pointer;
              width: 2em;
              position: relative;
              height: 2em;
              display: inline-block;
              border-radius: 100%;
              background-color: $FONT_COLOR_DEFAULT;
            }
            span:first-child {
              margin-right: 0.5em;
            }

            span:first-child:hover,
            span:first-child.active {
              background-color: $ACCENT_DENY;
            }
            span:last-child:hover,
            span:last-child.active {
              background-color: $ACCENT_AFFIRM;
            }
          }
        }
      }
    }
  }
}
