# Dependencies
/website/node_modules

# Production/Build
/website/build
/website/public/movie-gifs/
/website/public/movie-pictures/
/website/public/sources/
/design

# Local/Temporary Files
/website/src/static/
.env