# Dependencies
/website/node_modules
/google-images-download/
/Azure-ttk-theme/

/website/.pnp
.pnp.js
*.mdf

# Production/Build
/website/build
/website/public/movie-gifs/
/website/public/movie-pictures/
/website/public/sources/
/design

# Local/Temporary Files
/website/src/static/
/website/public/icons/
.env
.venv
database.txt
.vscode/
.db_config.json
*.pyc
IMAGES/
chromedriver.exe
chromedriver_old.exe

# testing
/coverage

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*