@import "scss/defaults.scss";
@import "scss/footer.scss";
@import "scss/main.scss";
@import "scss/menu.scss";
@import "scss/search.scss";
@import "scss/browse.scss";
@import "scss/rating.scss";
@import "scss/movie.scss";
@import "scss/filters.scss";
@import "scss/bubbles.scss";
@import "scss/source.scss";

body {
  //color: $FONT_COLOR_DEFAULT;
  background-color: $PRIMARY_COLOR;
  font-size: $FONT_SIZE_DEFAULT;
}

.page {
  /*padding: 1em 5em;*/
  box-sizing: border-box;
}

a:visited {
  color: none;
}
a:link {
  text-decoration: none;
}
a,
a:hover,
a:visited,
a:active {
  color: inherit;
}
a,
a:visited {
  text-decoration: none;
}
